<%= form_for(@book) do |f| %>
<h4>Editing Book</h4>
<p>Title</p>
<%= f.text_field :title %>

<p>Body</p>
<%= f.text_area :body %>
<br>
<%= f.submit 'Update Book' %>
<% end %>
<%= link_to "Show", book_path %>
<%= link_to "Back", "/books" %>